* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* NavBar */
.navbar {
  position: fixed;
  width: 100%;
  border-bottom: 2px solid black;
}

.navbar a {
  font-weight: 900;
}

.navbar .social {
  cursor: pointer;
}

.navbar .social:hover {
  color: slateblue;
}

.navbar a:hover {
  color: slateblue;
}

/* Banner */

.banner {
  min-height: 100vh;
  height: auto;
  background: url("./assets/2.jpeg") no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .box {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  align-items: center;
  justify-content: center;
  color: black;
}

.banner .box h1 {
  font-size: 50px;
  text-align: center;
  font-weight: 900;
  margin: 10px;
}

.banner span {
  max-width: 620px;
  margin: 10px;
  font-size: 20px;
  text-align: center;
}

.banner a {
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 60px;
  width: 300px;
  max-width: 500px;
  padding: 20px;
  border: transparent;
  background: slateblue;
  color: white;
  font-size: 20px;
  font-weight: bold;
  transition: transform 0.2s ease-in-out;
}

.banner a:hover {
  transform: translateY(-5px);
}

@media (max-width: 300px) {
  .banner .box h1 {
    font-size: 40px;
  }

  .banner a {
    text-align: center;
    text-decoration: none;
    margin-top: 60px;
    width: 200px;
    max-width: 500px;
    padding: 20px;
    border: transparent;
    background: slateblue;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
}

/* About */
.about {
  text-align: center;
  min-height: 100vh;
  background: rgb(224, 222, 222);
}

.about .top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .title {
  margin-top: 100px;
}

.about .title h1 {
  font-weight: 900;
}

.about .top p {
  max-width: 530px;
  margin: 10px;
}

.about .row {
  margin-top: 50px;
}

.about .skills {
  align-items: center;
  justify-content: center;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  max-width: 600px;
}

.about .skill {
  background-color: rgb(248, 248, 248);
  border-radius: 5px;
  padding: 15px;
  max-width: 400px;
}

.about .button {
  text-align: left;
  margin-top: 50px;
}

.about .button a {
  text-align: center;
  text-decoration: none;
  margin-top: 60px;
  border-radius: 5px;
  width: 200px;
  max-width: 500px;
  padding: 20px;
  border: transparent;
  background: slateblue;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.about .button:hover a {
  transform: translateY(-5px);
}

.col h1 {
  text-align: left;
  font-weight: 900;
}

.col p {
  text-align: left;
}

/* Projects */
.projects {
  text-align: center;
  min-height: 100vh;
  background-color: white;
}

.projects .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects .title {
  margin-top: 100px;
}

.projects .title h1 {
  font-weight: 900;
}

.projects .desc .button {
  text-align: left;
}

.projects .row {
  margin-top: 50px;
  max-width: 900px;
  background: white;
}

.projects .desc {
  margin-top: 0px;
  text-align: left;
}

.projects .desc h1 {
  font-weight: 900;
}

.projects img {
  max-width: 100%;
}

.projects .btn {
  min-width: 200px;
  margin-top: 10px;
  padding: 10px;
  background-color: slateblue;
  color: white;
  font-weight: 900;
  transition: transform 0.2s ease-in-out;
}

.projects .btn:hover {
  transform: translateY(-5px);
}

.tools {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.toolSkill {
  text-align: center;
  max-width: 100px;
  margin: 3px;
  padding: 5px;
  background-color: rgb(225, 217, 217);
  border-radius: 5px;
}

.footerModal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerModal .test .btn {
  margin-right: 10px;
}

.modal .btn {
  background-color: slateblue;
  color: white;
  font-weight: 700;
  transition: transform 0.2s ease-in-out;
}

.modal .btn:hover {
  transform: translateY(-5px);
}

.modal h1,
h2 {
  font-weight: 900;
}

.modal img {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

/* contact */

.contact {
  text-align: center;
  min-height: 90vh;
  background: url("./assets/2.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
}

.contact .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact .title {
  margin-top: 100px;
}

.contact .title h1 {
  font-weight: bolder;
}

.contact .top {
  display: flex;
  flex-direction: column;
}

.down {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact .contact-form {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  background-color: white;
  max-width: 700px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 4px 10px 10px;
}

.contact .contact-form .btn {
  font-weight: 700;
  background: slateblue;
  min-width: 200px;
  transition: transform 0.2s ease-in-out;
}

.contact .contact-form .btn:hover {
  transform: translateY(-3px);
}

.contact input {
  min-width: 600px;
  padding: 20px;
  background: whitesmoke;
  border: none;
}

.contact label {
  font-weight: 700;
}

.contact textarea {
  border: none;
  min-width: 600px;
  padding: 20px;
  background: whitesmoke;
}

@media (max-width: 600px) {
  .contact form {
    padding: 15px;
    background: red;
  }

  .contact input,
  .contact textarea {
    min-width: 300px;
  }
}

@media (max-width: 300px) {
  .contact form {
    padding: 15px;
    background: red;
  }

  .contact input,
  .contact textarea {
    min-width: 200px;
  }
}

@media (max-width: 1024px) {
  .contact .contact-form {
    margin-bottom: 40px;
  }
}

/* footer */
.footer {
  overflow: hidden;
  position: sticky;
  background-color: black;
  padding: 10px 20px;
  color: white;
}

.footer p {
  max-width: 600px;
}

.footer .social {
  text-align: center;
}

.footer .social a {
  color: grey;
}

.footer .social a:hover {
  color: slateblue;
}

.footer h5 {
  text-align: center;
}

.footer .contactMe .btn {
  color: white;
  margin-bottom: 20px;
  background-color: slateblue;
  font-weight: 700;
  transition: transform 0.2s ease-in-out;
}

.footer .contactMe .cv {
  margin-right: 20px;
}

.footer .contactMe .btn:hover {
  transform: translateY(-5px);
}

@media (max-width: 990px) {
  .footer .social {
    text-align: left;
  }
}
